$primary-color: #0F67A2;
$primary-color-hover: #138BDB;
$secondary-color: #dceeff;
$high-supply: #f0de99;
$high-supply-secondary: #f5d660;
$medium-supply: #ef9e7b;
$medium-supply-secondary: #ec875c;
$low-supply: #af2837;
$low-supply-secondary: #841f2b;
$no-supply: #35383B;
$no-supply-secondary: #35383B;
$public-suuply: #32a89d;
$background-1: #fff;
$background-2: #fafbfb;
$background-3: #f2f5f8;
$border-color: #d5dee5;
$text-color: #35383b;
$text-light-color: #757d82;
$error: #af2837;
$grid-gutter: 30px;
$mobile: 719px;
$tablet-large: 1023px;