@import './app/common/styles/utils/_vars.scss';

.datepicker {
  position: relative;

  &__input-container {
    position: relative;
  }

  &__input {
    padding-left: 30px;
  }

  &__input-icon {
    position: absolute;
    left: 0;
    bottom: 11px;
    color: $primary-color;
    font-size: 18px;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100000;
    width: 370px;
    margin-top: -2px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .2);
    transform: translateX(-50%);
  }

  &__picker {
    position: relative;
    float: left;
    width: 50%;
    padding: 21px 0 13px;
    text-align: center;
    color: $text-color;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 26px;
  }

  &__picker + &__picker {
    border-left: 1px solid $border-color;
  }

  &__arrow-change {
    position: absolute;
    top: 24px;
    display: inline-block;
    width: 20px;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    color: $primary-color;
    font-size: 20px;
    line-height: 21px;
    text-align: center;

    &--prev {
      left: 24px;
    }

    &--next {
      right: 24px;
    }
  }

  &__weekdays {
    padding: 10px 16px;
    border: solid $border-color;
    border-width: 1px 0;
  }

  &__weekday {
    float: left;
    width: (100% / 7);
    color: #636d6e;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
  }

  &__month-days {
    padding: 11px 16px;
    background: $background-2;
  }

  &__month-day {
    position: relative;
    float: left;
    width: (100% / 7);
    // height: 0;
    height: 40px;
    margin: 5px 0;
    // padding-bottom: (100% / 7);
    text-align: center;

    &--active:before {
      background: $border-color;
      border-radius: 50% 0 0 50%;
    }

    &--in-range:before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      background: $border-color;
    }

    &--in-range + &--in-range:after {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 13px;
      margin-right: -9px;
      background: $border-color;
    }

    &--last-day:before {
      border-radius: 0 50% 50% 0;
    }

    &:nth-child(7n):before {
      border-radius: 0 50% 50% 0;
    }

    &:nth-child(7n + 1) {
      &:before {
        border-radius: 50% 0 0 50%;
      }

      &:after {
        right: auto;
        margin-right: auto;
      }
    }

    &--active#{&}--last-day:before,
    &--active:nth-child(7n):before {
      border-radius: 50%;
    }

    &--in-range#{&}--last-day:nth-child(7n+1) {
      &:before {
        border-radius: 50%;
      }

      &:after {
        content: none;
      }
    }
  }

  &__month-day-helper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 100%;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    transform: translate(-50%, -50%);

    &:hover:not(:disabled) {
      color: $primary-color-hover;
    }

    &:disabled {
      color: $text-light-color;
    }
  }

  &__month-day--active &__month-day-helper {
    background: $primary-color-hover;
    border-radius: 50%;
    color: #fff !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  }

  &__month-day--another-month &__month-day-helper {
    color: $text-light-color;

    &:hover:not(:disabled) {
      color: $primary-color-hover;
    }
  }
}